<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    [[tplMeta]]
    [[template/header.html]]
    <meta property="og:title" content="Venta Pasajes de Colectivos, Ticket ANDESMAR CHILE" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.andesmarchile.cl/" />
    [[tplHead]]
</head>
<body>
    <header>
        <!--Top links-->
        <div class="top-links">
            <div class="row">
                <div class="six columns"><a href="#"><i class="icon-envelope"></i> &nbsp; info@andesmarchile.cl</a></div>
                <div class="six columns text-right">
                    <span class="lang-flag"></span>
                    <select name="lang" id="lang" data-native-menu="true" data-inline="true">
                        <option value="/[[url]]" selected>Espa&ntilde;ol</option>
                        <option value="/en/[[url]]">English</option>
                        <option value="/pt/[[url]]">Portugu&ecirc;s</option>
                    </select>
                </div>

            </div>
        </div>
        <!--end top-links-->
        <div id="header">
            <div class="row">
                <!-- Logo -->
                <div class="four columns">
                    <a href="index.html" id="logo"><img src="/imagenes/logo_black.png" alt="Landing Page HTML Template"></a>
                </div>
                <!--end logo-->
                <!-- Main Navigation -->
                <div class="eight columns">
                    <nav class="top-bar">
                        <ul>
                            <!-- Toggle Button Mobile -->
                            <li class="name">
                                <h1><a href="#">Please select your page</a></h1>
                            </li>
                            <li class="toggle-topbar"><a href="#"><i class="icon-reorder"></i></a></li>
                            <!-- End Toggle Button Mobile -->
                        </ul>
                        <section><!-- Nav Section -->
                            <ul class="right">
                                <li><a href="/"><i class="icon-home"></i> INICIO</a></li>
                                <li class="has-dropdown">
                                    <a href="#">PLAN DE VIAJE</a>
                                    <ul class="dropdown">
                                        <li><a href="buses.html">Buses</a></li>
                                        <li><a href="profile.html">Profile Page</a></li>
                                        <li class="has-dropdown"><a href="#" class="sub-menu-link">Third level menu</a>
                                            <ul class="dropdown">
                                                <li><a href="#" class="sub-menu-link">Sample</a></li>
                                                <li><a href="#" class="sub-menu-link">Sample link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">DESTINOS</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">Blog Page</a></li>
                                        <li><a href="single-article.html">Single Article</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">VIAJAR EN ANDESMAR</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">Blog Page</a></li>
                                        <li><a href="single-article.html">Single Article</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">ATENCIÓN AL CLIENTE</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">Blog Page</a></li>
                                        <li><a href="single-article.html">Single Article</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </section><!-- End Nav Section -->
                    </nav>
                </div>
                <!-- end Main Navigation -->
            </div>
        </div>
    </header>
    [[tplHeader]]

    [[tplContent]]

    <!-- FOOTER SECTION ================================================ -->
    <footer>
        <div id="footer">
            <div class="row">
                <!--Useful links-->
                <div class="three columns section">
                    <h5>Accesos rápidos</h5>
                    <ul class="no-bullet">
                        <li><i class="icon-angle-right"></i> <a href="#">Plan de viaje</a></li>
                        <li><i class="icon-angle-right"></i> <a href="#">Destinos</a></li>
                        <li><i class="icon-angle-right"></i> <a href="#">Viajar en Andesmar</a></li>
                        <li><i class="icon-angle-right"></i> <a href="#">Atención al cliente</a></li>
                        <li><i class="icon-angle-right"></i> <a href="#">Nuestros buses</a></li>
                        <li><i class="icon-angle-right"></i> <a href="#">Agencias cercanas</a></li>
                        <li><i class="icon-angle-right"></i> <a href="contact.html">Contáctenos</a></li>
                    </ul>
                </div>
                <!--end useful links-->

                <!--Latest from blog-->
                <div class="three columns section">
                    <h5>La empresa</h5>
                    <p>Ponemos a disposición nuestros servicios, y recomendamos para conocer horarios y frecuencias utilice directamente nuestro buscador.</p>
                </div>
                <!--end latest from blog-->
                <!--Twitter feed-->
                <div class="three columns section">
                    <h5> Agencias cercanas</h5>
                    <p>Encuentre las agencias de El Rápido Internacional cercanas a su posición actual.</p>
                    <p><button type="submit" id="newsletter-submit" name="newsletter-submit" class="small radius button expand">BUSCAR</button></p>
                </div>
                <!--end twitter feed-->

                <!--About us-->
                <div class="three columns section">
                    <h5>Contáctenos</h5>
                    <p>Nuestro departamento de atención al cliente se encuentra disponible para atenderlo de Lunes a Domingo en horarios de 09.00hs. a 18.00hs. (GMT -03:00).</p>
                    <p><i class="icon-envelope"></i> &nbsp;<a href="tel:1234567890">info@andesmarchile.cl</a><br>&nbsp;<i class="icon-mobile-phone icon-large"></i> &nbsp;&nbsp;(123) 456-7890</p>
                    <p class="footer-social-icons">Encuéntrenos en:<br>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Follow us on Twitter"><i class="icon-twitter-sign icon-2x"></i></a>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on Facebook"><i class="icon-facebook-sign icon-2x"></i></a>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on Google+"><i class="icon-google-plus-sign icon-2x"></i></a>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Pin us on Pinterest"><i class="icon-pinterest-sign icon-2x"></i></a>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on LinkedIn"><i class="icon-linkedin-sign icon-2x"></i></a>
                    </p>
                </div>
                <!--end about us-->
                <div class="twelve columns">
                    <hr>
                    <p>Copyright &copy; 2014 Andesmar Chile. All Rights Reserved. Desarrollado por <a href="http://www.ndhstudio.com" target="_blank">NdhStudio</a></p>
                </div>
            </div>
        </div><!--end footer-->
    </footer>
    <!--END FOOTER SECTION-->

    [[template/footer.html]]
    [[tplFooter]]
</body>
</html>