	<!-- JAVASCRIPTS	================================================ -->

	<!-- jQuery & Foundation Framework -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/template/scripts/foundation.min.js"></script>

	<!-- 3rd Plugins -->
	<!-- include carouFredSel plugin -->
	<script type="text/javascript" src="/template/scripts/plugins/carouFredSel/jquery.carouFredSel-6.2.0-packed.js"></script>
	<!-- optionally include helper for carouFredSel plugins -->
	<script type="text/javascript" src="/template/scripts/plugins/carouFredSel/helper-plugins/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="/template/scripts/plugins/carouFredSel/helper-plugins/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="/template/scripts/plugins/carouFredSel/helper-plugins/jquery.transit.min.js"></script>
	<script type="text/javascript" src="/template/scripts/plugins/carouFredSel/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
	<script type="text/javascript" src="/template/scripts/plugins/retina/retina.js"></script>
	<script type="text/javascript" src="/template/scripts/plugins/knob/jquery.knob.js"></script>
	<script type="text/javascript" src="/template/scripts/plugins/twitterfeed-ap-1.1/twitterfeed-ap.js"></script>
	<script type="text/javascript" src="/template/scripts/plugins/fittext/jquery.fittext.js"></script>
	<script type="text/javascript" src="/template/scripts/plugins/quovolver/jquery.quovolver.js"></script><!--Quote rotator-->
	<script type="text/javascript" src="/template/scripts/plugins/backgroundSize/jquery.backgroundSize.js"></script><!--BackgroundSize for IE8-->
	<script type="text/javascript" src="/template/scripts/plugins/prettyPhoto/jquery.prettyPhoto.js"></script>

	<!-- Custom JS effects, tweaks and inits -->
	<script type="text/javascript" src="/template/scripts/app.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="http://services.ticketonline.com.ar/bus-widget/js/bus.js"></script>
	<script type="text/javascript">
		jQuery(function() {
			busearch({
				agente: "and",
				//pathImages: "/template/img/calendar/",
			});

			/*$(".nav a[href='[[url]]']").attr('id', 'current');

			if ($(document).width() < 900) {
	            $("#buscador").addClass("horiz");
	            $("#buscador .footer").hide();
	        }
	        $("#lang").on('change', function(event) {
		       window.location.href  = $(this).val();
		    });*/
		});
	</script>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	/*var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
	s.parentNode.insertBefore(g,s)}(document,"script"));*/
	</script>