	<!--Meta-->
	<meta name="description"  content="Premium landing page for Lovers">
	<meta name="author"  content="Seventh Queen">
	<!--Set the viewport width to device width for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--Foundation Framework-->
	<link rel="stylesheet" href="/template/styles/jquery-ui.css">
	<!--Foundation Framework-->
	<link rel="stylesheet" href="/template/styles/foundation.min.css">
	<!--Plugins-->
	<link rel="stylesheet" href="/template/styles/font-awesome.min.css">
	<link rel="stylesheet" href="/template/styles/prettyPhoto.css">

	<!--Main Stylesheet (change this to modify template)-->
	<link rel="stylesheet" href="/template/styles/app.css">
	<link rel="stylesheet" href="/template/styles/bus.css">
	<link rel="stylesheet" href="/template/styles/updates.css">
	<link rel="stylesheet" href="/template/styles/custom.css">

	<!--Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<!--[if IE 7]>
		<link rel="stylesheet" href="/template/styles/font-awesome-ie7.min.css">
		<script src="/template/scripts/ie6/warning.js"></script>
		<script>window.onload=function(){e("/template/scripts/ie6/")}</script>
	<![endif]-->

	<!--Favicons-->
	<link rel="shortcut icon" href="/template/images/icons/favicon.ico">
	<link rel="apple-touch-icon" href="/template/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/template/images/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/template/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/template/images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/template/images/apple-touch-icon-144x144.png">

	<!-- jQuery & Foundation Framework -->
	<script type="text/javascript" src="/template/scripts/modernizr.foundation.js"></script>
