	<meta name="google-site-verification" content="JJCU6u1bao-DDuweYGclZmw6DaKBwFHV4oY1vuA5gKs" />
	<meta name="msvalidate.01" content="29ED494C583769376D3C5426258694CA" />
	<meta name="robots" content="all">

	<link rel="stylesheet" href="http://services.ticketonline.com.ar/bus-widget/css/jquery-ui-1.9.2.custom.css">
	<link rel="stylesheet" href="template/css/foundation.min.css" />
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="template/css/bus.css">
	<link rel="stylesheet" href="template/css/nivo-slider.css"/>
	<link rel="stylesheet" href="template/css/estilos.css"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="template/js/vendor/modernizr.js"></script>
	<script src="template/js/foundation.min.js"></script>
	<script src="http://services.ticketonline.com.ar/bus-widget/js/bus.js"></script>
	<script src="template/js/jquery.nivo.slider.pack.js"></script>
	<script src="template/js/helpers.js"></script>

