<!doctype html>
<html class="no-js" lang="pt">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	[[tplMeta]]
	<meta property="og:title" content="Brazilbus.com - Compre suas passagens de ônibus via internet- passagens de Coletivo" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.tramatweb.com" />
	[[tplHead]]
</head>
<body>
<header>
	<section class="row">
		<div class="columns small-12 text-right">
			<a href="/[[url]]" class="lang br"></a>
			<a href="/es/[[url]]" class="lang es"></a>
			<a href="/en/[[url]]" class="lang en"></a>
			<a href="contacto.html"><b>Contato</b></a>
			[[fecha]]
		</div>
	</section>
	<section class="row logos">
		<div class="columns small-12 medium-5">
			<a href="index.html" class="logo"></a>
		</div>
		<div class="columns small-12 medium-7 medium-text-right">
			<img src="imagenes/sello_preciomasbajo.png" class="visible-for-large-up" style="margin-right: 15px">
			<a href="#" class="chat_online chat-online text-left">Chat <br> Online</a>
			<a href="telefonos.html" class="venta_telefonica text-left">Fale <br> Conosco</a>
		</div>

		[[tplHeader]]
	</section>
</header>
<section class="content">
	[[tplContent]]

	<div class="row row_gray">
	<div class="title_empresa">
		<h3>Empresas de ônibus</h3>
		</div>
		[[includes/empresas_logo.html]]
	</div>

	<div class="row links_interes">
		<h3>Cómo comprar?</h3>
		<div class="columns small-6 medium-3">
			<a href="#">
				<img src="imagenes/buscar.gif" alt="">
				Procurar origem e destino
			</a>
		</div>
		<div class="columns small-6 medium-3">
			<a href="#">
				<img src="imagenes/horario.gif" alt="">
				Escolha o horário e a empresa
			</a>
		</div>
		<div class="columns small-6 medium-3">
			<a href="#">
				<img src="imagenes/asiento.gif" alt="">
				Escolha sua poltrona
			</a>
		</div>
		<div class="columns small-6 medium-3">
			<a href="#">
				<img src="imagenes/pago.gif" alt="">
				Faça o pagamento com cartão de credito
			</a>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12 medium-6">
			<a href="#" style="margin-right:20px"><img src="imagenes/facebook.png"></a>
		</div>
		<div class="columns small-12 medium-6 text-right">
			<img src="imagenes/sitio_seguro_BR.png" alt="">
		</div>
	</div>
</section>
<footer>
	<div class="row">
		<div class="columns small-12 text-right">
			<a href="#" class="link_footer">Institucional</a>
			<a href="contacto.html" class="link_footer">Contato</a>
			<a href="#" class="chat-online link_footer">Chat Online</a>
		</div>
	</div>
</footer>
<div class="fullWidth footer_links" style="display: none;">
	<div class="row">
		<div class="columns small-12 medium-4">
				test
		</div>
		<div class="columns small-12 medium-4">
				test
		</div>

		<div class="columns small-12 medium-4">
				test
			</div>
	</div>
</div>
<script>
	$(document).foundation();

	(function() {
    var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
    se.src = '//storage.googleapis.com/code.snapengage.com/js/fd057193-9555-4518-a27d-99552866b06c.js';
    var done = false;
    se.onload = se.onreadystatechange = function() {
      if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
        done = true;
      }
    };
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
  })();
</script>

</body>
</html>