<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	[[tplMeta]]
	<meta property="og:title" content="Brazilbus.com - Bus Tickets from Brazil" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.tramatweb.com" />
	[[tplHead]]
</head>
<body>
<header>
	<section class="row">
		<div class="columns small-12 text-right">
			<a href="/[[url]]" class="lang br"></a>
			<a href="/es/[[url]]" class="lang es"></a>
			<a href="/en/[[url]]" class="lang en"></a>
			<a href="contacto.html"><b>Contact us</b></a>
		</div>
	</section>
	<section class="row logos">
		<div class="columns small-12 medium-5">
			<a href="index.html" class="logo"></a>
		</div>
		<div class="columns small-12 medium-7 medium-text-right">
			<img src="imagenes/sello_preciomasbajo.png" class="visible-for-large-up" style="margin-right: 15px">
			<a href="#" class="chat_online chat-online text-left">Online <br> Chat</a>
			<a href="telefonos.html" class="venta_telefonica text-left">Buy over the phone </a>
		</div>

		[[tplHeader]]
	</section>
</header>
<section class="content">
	[[tplContent]]


	<div class="row row_gray">
	<div class="title_empresa">
		<h3>Bus Companies</h3>
	</div>
	[[includes/empresas_logo.html]]
	</div>

	<div class="row links_interes">
		<h3>How to buy?</h3>
		<div class="columns small-6 medium-3">
			<a href="#">
				<img src="imagenes/buscar.gif" alt="">
				Find origin and destination
			</a>
		</div>
		<div class="columns small-6 medium-3">
			<a href="#">
				<img src="imagenes/horario.gif" alt="">
				Select Time and Company
			</a>
		</div>
		<div class="columns small-6 medium-3">
			<a href="#">
				<img src="imagenes/asiento.gif" alt="">
				Select your seat
			</a>
		</div>
		<div class="columns small-6 medium-3">
			<a href="#">
				<img src="imagenes/pago.gif" alt="">
				Make your payment by credit card
			</a>
		</div>
	</div>
	<div class="row">
		<div class="columns small-12 medium-6">
			<a href="#" style="margin-right:20px"><img src="imagenes/facebook.png"></a>
		</div>
		<div class="columns small-12 medium-6 text-right">
			<img src="imagenes/sitio_seguro_US.png" alt="">
		</div>
	</div>
</section>
<footer>
	<div class="row">
		<div class="columns small-12 text-right">
			<a href="#" class="link_footer">Institutional</a>
			<a href="contacto.html" class="link_footer">Contact us</a>
			<a href="#" class="chat-online link_footer">Online Chat </a>
		</div>
	</div>
</footer>
<script>
	$(document).foundation();

	(function() {
    var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
    se.src = '//storage.googleapis.com/code.snapengage.com/js/fd057193-9555-4518-a27d-99552866b06c.js';
    var done = false;
    se.onload = se.onreadystatechange = function() {
      if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
        done = true;
      }
    };
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
  })();
</script>
</body>
</html>